<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--jQuery Link-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--Materialize CDN -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS Style Sheet-->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <!--Font Link-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <title>Mongo Article Scraper!</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongo Scraper</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/saved">Saved Articles</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}

    <!--External JS Link-->
    <script src="/assets/js/app.js"></script>
    <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>